 <%= simple_form_for [customer, project, consultant ] do |f| %> 
  <div class="form-consultant">

       <%= f.input :consultor,  input_html: { class: "form-control"} %>
       <%= f.input :consultant_standard,  input_html: { class: "form-control"} ,label: "服務項目"%>
       <%= f.input :contract_date ,as: :string, input_html: { class: 'datepicker'}  %>
  

<%= f.fields_for :class do |builder| %>
  <%= render 'class_fields', :f => builder %>
<% end %>



       <%= f.input :comment,  input_html: { class: "form-control"} %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
<% end %>

 