<%= link_to("所有客戶", customers_path(), class: "btn btn-sm btn-default")%> >
<%= link_to("客戶資料", customer_path(@customer), class: "btn btn-sm btn-default")%> >
<%= link_to("專案詳細資料", customer_project_path(@customer,@project), class: "btn btn-sm btn-default")%> >
修改輔導資料
<div class="col-md-6 col-md-offset-4">
  <h1>修改輔導資料</h1>

  <hr>

   <%= simple_form_for [@customer, @project, @consultant ] do |f| %> 
		  <div class="form-consultant">
		  	
		  	   <%= f.collection_select( :service_id , @project.services, :id, :name) %>
		       <%= f.input :consultor,label:'上課老師',as: :select, :collection => [ '劉老師', '吳老師' , '余老師', '趙老師','liu']  %>

		       <%#= f.input :consultant_standard,  input_html: { class: "form-control"} %>
		       <%#= f.input :contract_date,label:"簽約合約日期",as: :string, input_html: { class: 'datepicker' } %>

		        <%= f.fields_for :consultant_classes do |builder| %>
  					<%= render 'class_fields', :f => builder %>
				<% end %>
		       <%= f.input :comment,  input_html: { class: "form-control"} %>
		   </div>
		 
	  <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
	<% end %>
	<%# end %>
</div>


<%#= render "form", customer: @customer %>
