<%= link_to("所有客戶", customers_path(), class: "btn btn-sm btn-default")%> >
<%= link_to("客戶資料", customer_path(@customer), class: "btn btn-sm btn-default")%> >
<%= link_to("專案資料", customer_project_path(@customer,@project), class: "btn btn-sm btn-default")%> >
專案修改


  <h1>修改專案(合約內容)<%= link_to("返回客戶", customer_path(@customer), class: "btn btn-sm btn-default")%></h1>

  <hr>
  <%= render "form", customer:@customer,project: @project %>
